<section id="about" class="p-about">
    <h3 class="c-section-title">About</h3>
   <div class="l-container">
    <div class="p-about__wrapper">
        <figure class="p-about__image">
            <img width="544" height="363" src="../../img/about-img.jpg" alt="About画像1">
        </figure>
        <div class="p-about__text">
            <p>
                ここにテキストが入りますここにテキストが入ります。<br>
                ここにテキストが入りますここにテキストが入ります。<br>
                ここにテキストが入りますここにテキストが入ります。<br>
                ここにテキストが入りますここにテキストが入ります。<br>
                ここにテキストが入りますここにテキストが入ります。<br>
                ここにテキストが入りますここにテキストが入ります。<br>
                ここにテキストが入りますここにテキストが入ります。<br>
                ここにテキストが入りますここにテキストが入ります。
            </p>
        </div>
    </div>
   </div>
</section>