<section id="contact" class="p-contact">
    <h4 class="c-section-title p-contact__title">Contact</h4>
    <div class="l-container">
        <%- include('../parts/form', { formData: formData }) %> <!-- 引数を渡す -->
    </div>
</section>
