<section id="recruit" class="p-recruit">
    <h3 class="c-section-title p-recruit__title">Recruit</h3>
  <div class="l-container">
 <%- include('parts/table'),{ jobData: jobData } %>
  </div>
</section>