<section id="service" class="p-service">
    <h3 class="c-section-title">Service</h3>
     <div class="l-container">
        <div class="p-service__wrapper">
            <div class="p-service__contents">
                <figure class="p-service__image">
                   <img width="342" height="228" src="../../img/service-img1.jpg" alt="サイト制作のイメージ画像">
                   <figcaption class="p-service__caption">WEBサイト制作</figcaption>
                </figure>
                <div class="p-service__text">
                    <p>
                        新規サイトの制作はもちろんサイトリニュ <br>
                        ーアルやランディングページの制作も可能
                        です。
                    </p>
                </div>
            </div>
            <div class="p-service__contents">
                <figure class="p-service__image">
                   <img width="342" height="228" src="../../img/service-img2.jpg" alt="サイト運用のイメージ画像">
                   <figcaption class="p-service__caption">WEBサイト運用</figcaption>
                </figure>
                <div class="p-service__text">
                    <p>
                        サイトの更新作業や独自のアクセス解析に <br>
                        基づいたサイト改善のご提案をいたします。
                    </p>
                </div>
            </div>
            <div class="p-service__contents">
                <figure class="p-service__image">
                   <img width="342" height="228" src="../../img/service-img3.jpg" alt="アプリ開発のイメージ画像">
                   <figcaption class="p-service__caption">WEBアプリ開発</figcaption>
                </figure>
                <div class="p-service__text">
                    <p>
                        スマートフォンアプリ開発の他、Vue.jsや<br>
                        ReactによるWebアプリの開発が可能です。
                    </p>
                </div>
            </div>
        </div>
        <div class="p-service__btn">
            <a href="#" class="c-btn">お問い合わせ</a>
        </div>
     </div>
</section>