<footer class="l-footer">
    <div class="l-footer__copy">
        <small>&copy; <%= new Date().getFullYear() %> My Simple Site</small>
    </div>
</footer>
<!-- js -->
<script src="/js/index.js" defer></script>
</body>
</html>
