<main class="l-main">
    <%- include('section/about') %>
    <%- include('section/service') %>
    <%- include('section/recruit') %>
    <%- include('section/contact', { formData: formData }) %>
</main>
